.container
{
	width: 100%;
	max-width: 1200px;
	margin:0 auto;
}
*
{
	text-decoration: none;
}
nav
{
	margin: 10px 0;
	height: 5%;
	min-height: 10px;
}
.menu
{
	position: relative;
}

.menu:hover .sub_menu
{
	display: block;
	background-color: #faed7d;
}

.sub_inner
{
	position: absolute;
	top: 100%;
	width: 4.5%;
}

.sub_menu
{
	text-align: center;
	display: none;
	position: relative;
}
.sub_menu:hover .sub
{
	display: block;
	background-color: #f5eb98;
}
.sub_sub_inner
{
	position: absolute;
	left: 100%;
	display: block;
	top: 0;
}

.sub
{
	text-align: center;
	display: none;
}

.in_container
{
	position: relative;
	max-width: 960px;
	width: 70%;
	float: left;
	align-self: center;
}
.main
{
	width: 40%;
	display: inline;
}
.left_smth
{
	float: left;
	margin: 0;
	width: 15%;
}

.left_smth img
{
	width: 100%;
	height: 100%;
}

.right_smth
{
	float: right;
	margin: 0;
	width: 15%;
}
.right_smth img
{
	width: 100%;
	height: 100%;
}

footer{
	margin-top: 5%;
	clear: both;
	float: right;
}

@media print
{
	.left_smth img, .right_smth img 
	{
		display: none;
	}
	.left_smth, .right_smth
	{
		height: 100%;
	}
}